# **1. Configuración del Ambiente**


---

In [19]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
pd.set_option('display.max_columns', None)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

# **2. Creación de Modelos de Clasificación**


---

In [20]:
#df_traffic = pd.read_csv("df_after_feature_engineering.csv", sep=';')
df_traffic = pd.read_csv("df_Edwin2.csv", sep = ';')

In [21]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12283 entries, 0 to 12282
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visitNumber         12283 non-null  int64
 1   browser             12283 non-null  int64
 2   operatingSystem     12283 non-null  int64
 3   deviceCategory      12283 non-null  int64
 4   continent           12283 non-null  int64
 5   country             12283 non-null  int64
 6   city                12283 non-null  int64
 7   networkDomain       12283 non-null  int64
 8   source              12283 non-null  int64
 9   medium              12283 non-null  int64
 10  keyword             12283 non-null  int64
 11  referralPath        12283 non-null  int64
 12  adContent           12283 non-null  int64
 13  pageviews           12283 non-null  int64
 14  bounces             12283 non-null  float64
 15  newVisits           12283 non-null  float64
 16  transactionRevenue  12283 non-null  float64
 17  year                12283 non-null  int64
 18  day                 12283 non-null  int64
 19  weekday             12283 non-null  int64
 20  time_range          12283 non-null  int64
dtypes: float64(3), int64(18)
memory usage: 2.0 MB

In [22]:
df_traffic.head(10)

,visitNumber,browser,operatingSystem,deviceCategory,continent,country,city,networkDomain,source,medium,keyword,referralPath,adContent,pageviews,bounces,newVisits,transactionRevenue,year,day,weekday,time_range
0,1,5,9,0,3,114,250,1567,23,5,4,197,11,1,1.0,1.0,0.0,2016,2,4,1
1,1,5,6,0,4,102,295,1493,23,5,4,197,11,1,1.0,1.0,0.0,2016,2,4,4
2,1,5,6,0,2,3,43,1115,3,2,85,197,11,1,1.0,1.0,0.0,2016,2,4,3
3,2,18,11,1,2,138,295,339,23,5,4,197,11,1,1.0,0.0,0.0,2016,2,4,0
4,1,18,11,1,2,138,295,134,23,5,4,197,11,4,0.0,1.0,0.0,2016,2,4,4
5,1,5,9,0,2,3,43,1115,23,5,4,197,11,5,0.0,1.0,0.0,2016,2,4,4
6,2,5,9,0,2,138,295,362,23,5,4,197,11,15,0.0,0.0,0.0,2016,2,4,4
7,1,5,1,2,2,138,295,809,0,0,85,197,11,19,0.0,1.0,0.0,2016,2,4,4
8,3,18,11,1,2,138,295,339,23,5,4,197,11,32,0.0,0.0,0.0,2016,2,4,0
9,1,8,9,0,4,61,295,1439,75,6,85,160,11,1,1.0,1.0,0.0,2016,2,4,1

In [23]:
# Aplicar LabelEncoder
'''cualitativas = df_traffic.dtypes[df_traffic.dtypes == object].keys()
for columna in cualitativas:
    lbl = LabelEncoder()
    strings = list(df_traffic[columna].values.astype('str'))
    lbl.fit(strings)
    df_traffic[columna] = lbl.transform(strings)'''

"cualitativas = df_traffic.dtypes[df_traffic.dtypes == object].keys()\nfor columna in cualitativas:\n    lbl = LabelEncoder()\n    strings = list(df_traffic[columna].values.astype('str'))\n    lbl.fit(strings)\n    df_traffic[columna] = lbl.transform(strings)"

In [24]:
x = df_traffic.drop('transactionRevenue', axis = 1)
y = df_traffic['transactionRevenue'].apply(lambda x : 0 if x == 0 else 1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)
rf = RandomForestClassifier(n_estimators=100, random_state=123)
rf.fit(x_train, y_train)
df_traffic['Classifier'] = rf.predict(x)

In [25]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12283 entries, 0 to 12282
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visitNumber         12283 non-null  int64
 1   browser             12283 non-null  int64
 2   operatingSystem     12283 non-null  int64
 3   deviceCategory      12283 non-null  int64
 4   continent           12283 non-null  int64
 5   country             12283 non-null  int64
 6   city                12283 non-null  int64
 7   networkDomain       12283 non-null  int64
 8   source              12283 non-null  int64
 9   medium              12283 non-null  int64
 10  keyword             12283 non-null  int64
 11  referralPath        12283 non-null  int64
 12  adContent           12283 non-null  int64
 13  pageviews           12283 non-null  int64
 14  bounces             12283 non-null  float64
 15  newVisits           12283 non-null  float64
 16  transactionRevenue  12283 non-null  float64
 17  year                12283 non-null  int64
 18  day                 12283 non-null  int64
 19  weekday             12283 non-null  int64
 20  time_range          12283 non-null  int64
 21  Classifier          12283 non-null  int64
dtypes: float64(3), int64(19)
memory usage: 2.1 MB

In [26]:
df_traffic.sample(20)
df_traffic.value_counts('Classifier')

Classifier
0    12146
1      137
Name: count, dtype: int64

In [27]:
df_traffic.to_csv("Classifier.csv", sep = ';', index =False)